body{
background-image:url('bg.png');
background-position:center top;
background-repeat:no-repeat;
background-attachment:fixed;
}
.mainBody{
  margin:auto;
  width:700px;
  border: solid 1px;
  background-color: #FFFFFF;
}
.menuBar{
  width:250px;
  float:left;
  border: solid 1px;
  margin:3px;
}
.contentBar{
  float:Right;
  border: solid 1px;
  margin:3px;
}
.footerBar{
margin:auto;
width:200px;
margin:3px;
margin-botton:0px;
clear:both;
}
